/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
Так стили написанные ниже будут иметь больший вес,
чем стили в медиазапросе предпочтений пользователя
*/
  --text: #353430;
  --decor-text-color: var(--text);
  --focus: #ffc2e6;
  --font: "IBM Plex mono", monospace;
  --font-size: 18px;
  --background-image: url(../images/cover-image-light.png);
  --header-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-color: #ff8dcb;
  --article-color: #353430;
  --bg-color: #f5f5f5;
  --title-color: var(--text);
  --color: #32312d;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --background-image: url(../images/cover-image-light.png);
}
.theme-light .decorated-zone::before {
  border-top: 1px solid var(--article-color);
  border-right: 1px solid var(--article-color);
}
.theme-light .decorated-zone::after {
  border-left: 1px solid var(--article-color);
  border-bottom: 1px solid var(--article-color);
}
@media (prefers-color-scheme: light) {
  :root {
      --text: var(--article-color);
      --decor-text-color: var(--text);
      --focus: #ffc2e6;
      --font: "IBM Plex mono", monospace;
      --font-size: 18px;
      --background-image: url(../images/cover-image-light.png);
      --header-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
      --accent-color: #ff8dcb;
      --article-color: #353430;
      --bg-color: #f5f5f5;
      --title-color: var(--text);
  }
  .rec-indicator {
  visibility: hidden;
}
}


