/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: #000028;
  background-image: var(--background-image);
  background-color: var(--bg-color);
  background-attachment: fixed;
  background-size: cover;
  font-family: "IBM Plex Mono", monospace;
  min-inline-size: 375px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  padding: 10px;
  margin-bottom: 40px;
}
.rec-indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 20px;
  align-content: center;
  font-weight: 400;
  color: var(--accent-color);
  font-size: 18px;
}

.rec-indicator::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-inline-start: 10px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}
.decorated-zone::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  right: 10px;
  top: 10px;
}
.decorated-zone::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  bottom: 10px;
  left: 10px;
}

.header__theme-menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-top: 50px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__theme-menu-list-item {
  padding: 0;
}
.header__theme-menu-button {
  font-size: var(--font-size);
  color: var(--accent-color);
  border: none;
  width: 70px;
  height: 26px;
  text-transform: lowercase;
  background-color: transparent;
  text-align: center;
  appearance: none;
}

.header__theme-menu-button:hover {
  background-color: transparent;
  outline: 1px solid var(--color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color);
  outline: none;
}
.header__theme-menu-button_active {
  background-color: transparent;
  color: var(--accent-color);
}
.header__title {
  font-size: var(--header-size);
  justify-content: center;
  padding: 55px 0 55px 0;
  margin: 0;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title {
  color: var(--focus);
  font-family: var(--font);
  line-height: 82.5%;
}

.title-decor {
  background-color: var(--accent-color);
  font-family: var(--font), monospace;
  line-height: 23.4px;
  font-weight: 700;
  font-size: 18px;
  color: var(--text);
}
.article-title {
  margin: 0;
  align-self: flex-start;
  text-align: start;
  align-items: stretch;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--title-color);
  font-family: var(--font), monospace;
  margin: 0;
}

.content__title {
  margin: 0;
  font-weight: 700;
}
.content__text {
  color: var(--article-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  margin: 0;
}
.content__section {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  display: grid;
  gap: 50px;
}

.grid_cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.content__card-list {
  display: grid;
  gap: 20px;
}

.section__cards-content {
  display: grid;
  gap: 20px;
}
.content-card {
  display: grid;
  gap: 10px;
}
.card-content__list {
  display: grid;
  gap: 20px;
}
.link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--article-color);
  font-family: var(--font), monospace;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.link:hover {
  background-color: transparent;
  outline: 1px solid var(--color);
}
.link:focus-visible {
  border-bottom: 1px solid var(--color);
  outline: none;
}
.section__gallery {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  margin-bottom: 40px;
}
img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.section__images {
  display: grid;
  gap: 10px;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  display: grid;
  padding: 10px;
}

.footer__title {
  font-size: 116px;
  margin: 0;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr min-content 1fr;
      padding: 20px 20px;
      margin-bottom: 60px;
  }
  .rec-indicator {
      top: 20px;
      right: 30px;
  }
  .decorated-zone::before {
      right: 20px;
      top: 20px;
  }
  .decorated-zone::after {
      bottom: 20px;
      left: 20px;
  }
  .header__theme-menu {
      grid-row: 1;
      grid-column: 2;
  }
  .header__title {
      grid-column: 1 / span2;
      grid-row: 2;
      margin-left: -20px;
      font-size: var(--header-font-size);
  }
  .article-title {
      grid-row: 3;
      grid-column: 2;
      margin-top: 108px;
  }
  .section__title {
      grid-row: 1;
      grid-column: 1;
  }
  .grid_cards {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;
  }
  .content__section {
      gap: 80px;
      padding: 0 20px;
      margin-bottom: 20px;
  }
  .section__why {
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
  }
  .section__what {
      gap: 20px;
  }

  .article-content {
      grid-row: 2;
      grid-column: 1 / span 3;
  }
  .section__gallery {
      grid-template-rows: min-content 1fr;
      gap: 20px;
  }
  .section__images {
      gap: 20px;
  }
  img:nth-child(1) {
      grid-column: 1 / span 2;
  }
  img:nth-child(2) {
      grid-column: 3;
      grid-row: 1 / span 2;
  }
  img:nth-child(3) {
      grid-column: 1;
      grid-row: 2 / span 2;
  }
  img:nth-child(4) {
      grid-column: 2;
      grid-row: 2;
  }
  img:nth-child(5) {
      grid-column: 2 / span 2;
      grid-row: 3;
  }
  .footer {
      min-height: 1024px;
      grid-template-columns: auto;
      padding: 20px;
  }

  .footer__title {
      font-size: 120px;
      margin: 0;
  }
}
@media (width >= 1024px) {
  .header {
      min-block-size: 768px;
      grid-template-columns: 1fr min-content 1fr;
  }
  .header__title {
      grid-row: 2;
      margin-left: -20px;
      font-size: var(--header-font-size);
  }
  .article-title {
      grid-row: 3;
      grid-column: 3;
      margin-top: 60px;
      margin-left: -114px;
  }
  .header__theme-menu {
      display: flex;
      flex-direction: row;
      align-items: start;
      padding: 0;
  }

  .header__theme-menu-list {
      flex-direction: row;
      justify-content: start;
      align-items: center;
  }
  .grid_cards {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;
      gap: 10px;
  }
  .section__cards-content {
      gap: 20px;
  }
  .content__card-list {
      gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;
  }
  .section__what {
      gap: 20px;
  }
  .content__card-list-item:nth-child(1) {
      grid-column: 1;
  }
  .content__card-list-item:nth-child(2) {
      grid-column: 2;
  }
  .content__card-list-item:nth-child(3) {
      grid-column: 3;
  }
  .section__how {
      gap: 10px;
  }
  .footer {
      min-block-size: 768px;
  }
  .footer__title {
      font-size: 157px;
      font-weight: 800;
  }
}
