/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --text : #000028; 
  --decor-text-color: var(--text);
  --focus: #DB00FF;
  --font: "IBM Plex mono", monospace;
  --font-size: 18px;
  --background-image: url(../images/cover-image-dark.png);
  --header-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-color: #FF0070;
  --article-color: #F1B2CE;
  --bg-color: #000028;
  --title-color: var(--accent-color);
}